/* Asterisk wildcard selector to override default broswer's style */
* {
    padding: 0;
    margin: 0;
    /* include padding and border in an element's total width and height */
    box-sizing: border-box;
}