/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Asterisk wildcard selector to override default broswer's style */
* {
    padding: 0;
    margin: 0;
    /* include padding and border in an element's total width and height */
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Poppins', sans-serif;
    color: #4E494B;
}

/* Header */
header {
    padding: 0.35rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: white;
}

header a,
header a:visited {
    text-decoration: none;
    color: inherit;
}

/* Logo */
#logo-area>a>img {
    height: 48px;
}

#logo-area a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#catchword {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85rem;
}

#infinita-perfectio,
#specialized-dentistry {
    font-family: 'Anek Latin', sans-serif;
    font-size: 0.9rem;
}

#infinita-perfectio {
    text-transform: uppercase;
    font-size: 1.24rem;
    font-weight: bold;
}

/* Navigation Menu */
header>nav {
    line-height: 2.2rem;
    font-size: 1rem;
    text-align: right;
    position: absolute;
    background-color: white;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 20px;
    display: none;
}

header>nav>ul {
    list-style-type: none;
}

.dot {
    font-size: 4px;
    line-height: .1em;
    vertical-align: 1em;
    margin-left: 25px;
}

/* Navigation Toggle  */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    /* Burger icon */
    font-size: 16px;
}

#nav-toggle:checked~nav {
    display: block;
}

/* Main */
main {
    background-color: #F3F0EE;
    margin-top: 60px;
    flex-grow: 1;
    padding: 0.3rem 0.6rem;
}

/* Footer */
footer {
    padding: 1rem;
    background-color: white;
}

#footer-wrapper {
    font-family: 'Anek Latin', sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

#footer-wrapper a {
    color: inherit;
}

#footer-wrapper li:nth-child(2) {
    /* Facebook icon */
    font-size: 19px;
}

#footer-wrapper li:nth-child(3) {
    /* Whatsapp icon */
    font-size: 24px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        padding: 0.6rem 2.1rem;
    }

    /* Navigation Menu */
    header>nav {
        font-size: 1.6rem;
        line-height: 4rem;
    }

    #logo-area>a>img {
        height: 65px;
    }

    #specialized-dentistry {
        font-size: 1.2rem;
    }

    #infinita-perfectio {
        font-size: 1.54rem;
    }

    .nav-toggle-label {
        /* Burger icon */
        font-size: 19px;
    }

    /* Main */
    main {
        margin-top: 85px;
        padding: 0.7rem 2.5rem;
    }

    /* Footer */
    footer {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 17px;
    }

    #footer-wrapper>li:nth-child(2) {
        /* Facebook icon */
        font-size: 20px;
    }

    #footer-wrapper>li:nth-child(3) {
        /* Whatsapp icon */
        font-size: 25px;
    }
}

/* Media query: large screens (1200px and up) */
@media screen and (min-width: 1200px) {

    /* Header */
    header {
        padding-top: 0;
        padding-bottom: 0;
    }

    #logo-area>a>img {
        height: 65px;
    }

    /* Navigation Menu */
    header nav {
        display: block;
        position: relative;
        width: fit-content;
        padding: 10px 20px;
        font-size: 1.25rem;
    }

    #nav-wrapper {
        display: flex;
        gap: 2rem;

    }

    #nav-wrapper i {
        display: none;
    }

    .nav-toggle-label {
        display: none;
    }

    main {
        margin-top: 84px;
        padding: 1.4rem 11rem;
    }

    /* Footer  */
    footer {
        padding: 0.1rem;
    }

    #footer-wrapper>li:nth-child(2) {
        /* Facebook icon */
        font-size: 17px;
    }

    #footer-wrapper>li:nth-child(3) {
        /* Whatsapp icon */
        font-size: 22px;
    }
}