/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Asterisk wildcard selector to override default broswer's style */
* {
    padding: 0;
    margin: 0;
    /* include padding and border in an element's total width and height */
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Poppins', sans-serif;
    color: #4E494B;
}

/* Header */
header,
footer {
    background-color: white;
}

header a,
header a:visited {
    text-decoration: none;
    color: inherit;
}

/* Logo */
#logo-area {
    margin: 5px;
}

#logo-area>a>img {
    height: 40px;
}

#logo-area a {
    display: flex;
    align-items: center;
    gap: 10px;
}

#catchword {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.86rem;
}

#infinita-perfectio,
#specialized-dentistry {
    font-family: 'Anek Latin', sans-serif;
}

#infinita-perfectio {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Main */
main {
    background-color: #F3F0EE;
    flex-grow: 1;
}